html {
  background: url(/img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  height: 100%;
}

* {
  padding: 0; 
  margin: 0; 
}

h1 {
  margin: 0 !important;
}

.main {
  height: 100%; 
  width:100%; 
  border-collapse: collapse; 
}

.f img, .e img, .m img {
  max-width: 2.8em;
  max-height: 2.8em;
}

.s {
  margin-top: 1em;
}

.image {
  width:32%;
}

.image-middle {
  text-align: center;

}
.image-left {
  text-align: left;
}

.image-right {
  text-align: right;
}

.center {
  text-align:center;
}

.title {
  word-spacing: 0.3em;
}

.telephone {
  padding: 1em;
}